# This is Git's per-user configuration file.
[user]
    name = Grace Petryk
    email = gpetryk@discoveryed.com
# Please adapt and uncomment the following lines:
#	name = Grace Petryk
#	email = 5047809+pridtzl@users.noreply.github.com
[core]
    excludesfile = /Users/GPetryk/.gitignore
    editor = /usr/local/bin/nvim
[init]
    defaultBranch = main
[alias]
    adog = log --all --decorate --oneline --graph
    d = difftool --no-symlinks --dir-diff

    stash-working = "!f() { \
	git commit --quiet --no-verify -m \"temp for stash-working\" && \
	git stash push \"$@\" && \
	git reset --quiet --soft HEAD~1; }; f"
[push]
    autoSetupRemote = true

[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[rerere]
    enabled = true
