# This is Git's per-user configuration file.
[user]
    name = Grace Petryk
    email = gpetryk@discoveryed.com
# Please adapt and uncomment the following lines:
#	name = Grace Petryk
#	email = 5047809+pridtzl@users.noreply.github.com
[core]
    excludesfile = /Users/GPetryk/.gitignore
    editor = /usr/local/bin/nvim
[init]
    defaultBranch = main
[alias]
    adog = log --all --decorate --oneline --graph

    # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
    d = -c diff.external=difft diff
    dt = -c diff.external='difft --override=*:text' diff
    dlog = -c diff.external=difft log --ext-diff
    dshow = -c diff.external=difft show --ext-diff

    stash-working = "!f() { \
	git commit --quiet --no-verify -m \"temp for stash-working\" && \
	git stash push \"$@\" && \
	git reset --quiet --soft HEAD~1; }; f"
[push]
    autoSetupRemote = true

[diff]
    tool = kitty
    guitool = kitty.gui
[rerere]

[url "ssh://git@bitbucket.org/"]
    insteadOf = https://bitbucket.org/
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/   enabled = true
[pull]
    rebase = true
