.solargraph.yml
solargraph_comments.rb
schema.rb
pyrightconfig.json
.basedpyright/
.ripgrep
.vimspector.json
neovim_build
apps/.nvmrc
.python-version

.luarc.json

**/.repro/
.env
.envrc
.direnv/
.autoenv.zsh
.autoenv_leave.zsh

.gpetryk/

# jdtls
.project
.classpath
.factorypath
.settings/
