.solargraph.yml
solargraph_comments.rb
schema.rb
pyrightconfig.json
.ripgrep
.vimspector.json
neovim_build
apps/.nvmrc
.python-version

.luarc.json

**/.repro/
.env
.envrc
.direnv/
.autoenv.zsh
.autoenv_leave.zsh
