.solargraph.yml
solargraph_comments.rb
schema.rb
pyrightconfig.json
ty.toml
.basedpyright/
.ripgrep
.vimspector.json
neovim_build
apps/.nvmrc
.python-version
*.pyi

.luarc.json
.nvim.lua
./de-sandbox/apps/core.discoveryeducation.com/core/wwroot/static/eslintrc

uv_fabfile.py

**/.repro/
.env
.envrc
.direnv/
.autoenv.zsh
.autoenv_leave.zsh

.grace/

# jdtls
.project
.classpath
.factorypath
.settings/
