[submodule "rose-pine"]
	path = nvim/plugins/rose-pine
	url = git@github.com:gracepetryk/rose-pine.git
	branch = main
[submodule "nvim/plugins/diagflow.nvim"]
	path = nvim/plugins/diagflow.nvim
	url = git@github.com:gracepetryk/diagflow.nvim.git
	branch = develop
[submodule "nvim/plugins/rose-pine"]
	branch = custom
[submodule "nvim/plugins/nvim-tree.lua"]
	path = nvim/plugins/nvim-tree.lua
	url = git@github.com:gracepetryk/nvim-tree.lua.git
