if type rbenv &>/dev/null
then
  # start rbenv and add it to path
  eval "$(rbenv init - zsh)"
  # export PATH="$HOME/.rbenv/shims:$PATH"

  # add yarn to path
  export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"

  # needed for postgres gem
  export PATH="$PATH:/usr/local/opt/postgresql@12/bin"

  # add user gems to PATH
  ruby_dirs=""
  for dir in $HOME/.gem/ruby/*
  do
    ruby_dirs="$dir/bin:$ruby_dirs"
  done
  export PATH="$PATH:$ruby_dirs"
fi

alias rspc='bundle exec rspec --format documentation'