export PATH="$PATH:$HOME/.local/share/fnm/node-versions/v23.2.0/installation/bin"

fnm_path=$(which fnm)

function init_fnm() {
    eval "$($fnm_path env --use-on-cd --version-file-strategy recursive --shell zsh)"
}

function fnm() {
    unset -f fnm
    init_fnm
    fnm $@
}

function fnm_use() {
    if [[ $PWD != $HOME && -e .nvmrc ]]; then
        add-zsh-hook -d chpwd fnm_use
        unset -f fnm_use
        init_fnm
    fi
}

autoload -U add-zsh-hook
add-zsh-hook -Uz chpwd fnm_use
