filetype plugin indent on

set number relativenumber noerrorbells
set scrolloff=10
set incsearch

nnoremap x "_x
imap <C-c> <Esc>

map <A-h> <C-w>h
map <A-l> <C-w>l

nmap L <Action>(ShowHoverInfo)

" Indentation
set autoindent                             " Keep the indent when creating a new line
set smarttab                               " Use shiftwidth and softtabstop to insert or delete (on <BS>) blanks
set cindent                                " Recommended seting for automatic C-style indentation
set autoindent                             " Automatic indentation in non-C files
set foldmethod=indent                      " Fold based on source indentation
set foldlevelstart=99                      " Expand all folds by default

set visualbell
set noerrorbells